.accordion{
    color: rebeccapurple;
}

code{
    color: green;
}

.form-control{
    background-color: white;
    color: black;
}

.form-check-input{
    background-color: white;
    color: black;
}

.exampleInputEmail1{
    background-color: white;
}